@model BookSite.Data.Entities.Book
@using BookSite.Web.Methods
@{
    BookSite.Data.Context.DataContext db = new BookSite.Data.Context.DataContext();

    var user = db.Users.FirstOrDefault(x => x.Email == User.Identity.Name);

    string className = "";
    string className2 = "";

    try
    {
        if (TempData["style"].ToString() == "grid")
        {
            className = "shop-product-wrap grid with-pagination row space-db--30 shop-border";
            className2 = "product-card";
        }
        else
        {
            className = "shop-product-wrap with-pagination row space-db--30 shop-border list";
            className2 = "product-card card-style-list";
        }
    }
    catch (global::System.Exception)
    {
        className = "shop-product-wrap grid with-pagination row space-db--30 shop-border";
        className2 = "product-card";
    }




    var book_pictures = db.Book_Pictures.ToList();

    var favouriteId = 0;

    try
    {
        favouriteId = db.Favorites.FirstOrDefault(x => x.BookId == Model.Id && x.UserId == user.Id).Id;
    }
    catch (Exception)
    {


    }
}



<div class="@className2">
    <div class="product-grid-content">
        <div class="product-header">
            <h3><a href="product-details.html">@Model.Name</a></h3>
        </div>
        <div class="product-card--body" id="_book@(Model.Id)">
            <div class="card-image">
                <img src="~/Upload/Image/@db.Book_Pictures.FirstOrDefault(x=>x.BookId == Model.Id).Picture" alt="">
                <div class="hover-contents">
                    <a href="product-details.html" class="hover-image">
                        <img src="~/Upload/Image/@db.Book_Pictures.FirstOrDefault(x=>x.BookId == Model.Id).Picture" alt="">
                    </a>
                    <div class="hover-btns">
                        <button class="single-btn" onclick="AddtoCart(this)" itemscope itemid="@Model.Id">
                            <i class="fas fa-shopping-basket"></i>
                        </button>
                        @if (user != null)
                        {
                            <input hidden id="UserId" value="@user.Id" />
                        }
                        else
                        {
                            <input hidden id="UserId" value="" />
                        }


                        @if (favouriteId == 0)
                        {

                            <button class="single-btn" title="Favorilerime Ekle" onclick="AddtoFavouriteCat_Detail(this)" itemscope itemid="@Model.Id" id="favourite"><i class="fa fa-heart"></i></button>

                        }
                        else
                        {

                            <button title="Favorilerimden Sil" onclick="DeletetoFavouriteCat_Detail(this)" itemscope itemid="@Model.Id" class="add-link"><i class="fas fa-heart"></i></button>
                        }
                        <a itemscope itemid="@Model.Id" onclick="AddToCompare(this)" title="Karşılaştırma listesine ekle" class="single-btn">
                            <i class="fas fa-random"></i>
                        </a>
                        <a href="#" data-toggle="modal" data-target="#quickModal@(Model.Id)"
                           class="single-btn">
                            <i class="fas fa-eye"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="price-block">
                <span class="price">₺ @SeoHelper.ShowPrice(Model.DiscountPrice, 2)</span>
                <del class="price-old">₺ @SeoHelper.ShowPrice(Model.Price, 2)</del>
                <span class="price-discount">@Model.DiscountPercentage</span>
            </div>
            <div class="add-cart-btn">
                <button class="btn btn-outlined--primary" onclick="AddtoCart(this)" itemscope itemid="@Model.Id">
                    <i class="fas fa-shopping-cart"></i>Sepete Ekle
                </button>
            </div>
        </div>
    </div>
    <div class="product-list-content">
        <div class="card-image">
            <img src="~/Upload/Image/@db.Book_Pictures.FirstOrDefault(x=>x.BookId == Model.Id).Picture" alt="">
        </div>
        <div class="product-card--body">
            <div class="product-header">
                <h3>
                    <a href="product-details.html" tabindex="0">
                        @Model.Name
                    </a>
                </h3>
            </div>
            <article>
                <h2 class="sr-only">Card List Article</h2>
                <p>
                    @Model.Content
                </p>
            </article>
            <div class="price-block">
                <span class="price">₺ @SeoHelper.ShowPrice(Model.DiscountPrice, 2)</span>
                <del class="price-old">₺ @SeoHelper.ShowPrice(Model.Price, 2)</del>
                <span class="price-discount">@Model.DiscountPercentage</span>
            </div>
            <div class="rating-block">
                <span class="fas fa-star star_on"></span>
                <span class="fas fa-star star_on"></span>
                <span class="fas fa-star star_on"></span>
                <span class="fas fa-star star_on"></span>
                <span class="fas fa-star "></span>
            </div>
            <div class="btn-block">

                <a href="#" class="btn btn-outlined" onclick="AddtoCart(this)" itemscope itemid="@Model.Id">Sepete Ekle</a>

                @if (favouriteId == 0)
                {

                    <a class="card-link" onclick="AddtoFavouriteCat_Detail(this)" itemscope itemid="@Model.Id" id="favourite"><i class="far fa-heart">Favorilere Ekle</i></a>


                }
                else
                {

                    <a onclick="DeletetoFavouriteCat_Detail(this)" itemscope itemid="@Model.Id" class="card-link"><i class="fas fa-heart">Favorilerimden Sil</i></a>
                }
               
                    <button itemscope itemid="@Model.Id" onclick="AddToCompare(this)" class="add-link"><i class="fas fa-random"></i>Karşılaştır</button>
               
            </div>
        </div>
    </div>
</div>


<script>
    function PageStyle(item) {
        var style = $(item).attr("itemid");
        $.ajax({
            async: true,
            type: "POST",
            contentType: false,
            processData: false,
            data: style,
            dataType: 'json',
            url: '/PageStyle/?style=' + style,
            success: function (data) {
            }
        })
    }

</script>