@model List<BookSite.Data.Entities.Cart>
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Panel/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-12">
        <div class="page-title-box">
            <div class="page-title-right">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item"><a href="/Panel/Home/Index">AnaSayfa</a></li>
                    <li class="breadcrumb-item active">Siparişler</li>
                </ol>
            </div>
            <h4 class="page-title">Siparişler</h4>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-6 col-xl-3">
        <div class="card bg-pattern">
            <div class="card-body">
                <div class="p-2 text-center" style="font-size: 2rem;">
                    <i class="fas fa-list-ul"></i>
                    <h3><span data-plugin="counterup">@Model.Where(x => x.OrderStatus == "Sipariş Oluşturuldu").Count()</span></h3>
                    <p class="text-muted font-15 mb-0">Yeni Sipariş Sayısı</p>
                </div>
            </div>
        </div> <!-- end card-->
    </div>
</div>


<div class="row">
    <div class="col-12">

        <div class="card">
            <div class="card-body">
                <table id="datatable" class="table dt-responsive nowrap w-100">
                    <thead>
                        <tr>

                            <th>Sipariş Veren</th>
                            <th>Sipariş No</th>
                            <th>Sipariş Tarihi</th>
                            <th>Sipariş Durumu</th>
                            <th>Ödeme Tipi</th>
                            <th>Sipariş Tutarı</th>
                            <th>İşlemler</th>
                        </tr>
                    </thead>


                    <tbody>
                        @foreach (var cart in Model)
                        {
                            string bgColor = ""; // Varsayılan

                            if (cart.OrderStatus == "Sipariş Oluşturuldu")
                            {
                                bgColor = "#ffcc80"; // açık turuncu (Yeni Sipariş)
                            }


                            if (cart.OrderStatus == "Sipariş Hazırlanıyor")
                            {
                                bgColor = "#fff59d"; // açık sarı
                            }
                            else if (cart.OrderStatus == "Sipariş Kargoda")
                            {
                                bgColor = "#90caf9"; // açık mavi
                            }
                            else if (cart.OrderStatus == "Sipariş Teslim Edildi")
                            {
                                bgColor = "#a5d6a7"; // açık yeşil
                            }



                            <tr style="background-color:@bgColor">
                                <td> @(cart.User != null ? $"{cart.User.Name} {cart.User.Lastname}" : "")</td>
                                <td>@cart.OrderNo</td>
                                <td>@cart.OrderDate</td>
                                <td>
                                    @(cart.OrderStatus == "Sipariş Oluşturuldu" ? "Yeni Sipariş" : cart.OrderStatus)
                                </td>
                                <td>
                                    @(cart.PaymentType == "2"
                                        ? "Kredi Kartı"
                                        : cart.PaymentType == "3"
                                            ? "Kapıda Ödeme"
                                            : "")
                                </td>
                                <td>@cart.TotalPrice ₺</td>

                                <td>
                                <a href="/Panel/Cart/Edit/@cart.Id" class="btn btn-success width-xs waves-effect waves-light">Sipariş Detay</a>
        </td>
                            </tr>

                        }


                    </tbody>
                </table>

            </div> <!-- end card body-->
        </div> <!-- end card -->
    </div><!-- end col-->
</div>
<!-- end row -->

<script type="text/javascript">
    function Delete(item) {
        var id = $(item).attr("itemid");
        var btn = $(item);
        Swal.fire({
            title: 'Emin misin?',
        /*    text:  "Kategori adı:  "+name,*/
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Sil',
            cancelButtonText: 'İptal',
        }).then(val => {
            if (val.isConfirmed) {
                $.ajax({
                    async: true,
                    type: "POST",
                    contentType: false,
                    processData: false,
                    data: id,
                    dataType: 'html',
                    url: '/Panel/Category/Delete?id=' + id,
                    success: function (data) {
                        Swal.fire(
                            'Başarılı!',
                            'Kategori silindi',
                            'success'
                        ).then(function () {
                                $(window).attr('location', '/Panel/Category/Index')
                            })
                    },
                    error: function () {
                        //alert("Error Occurred!");
                        swal({
                            title: "FAIL",
                            text: "ERROR OCCURRED",
                            icon: "error"
                        });
                    }
                });
            }
        });
    }
</script>



